<div class="oculto-impresion">
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary" id="btnAtras">
                <i class="fal fa-arrow-left"></i>   
                Atrás
            </button>
        </div>
        
        <div class="col-3">
            <button class="btn btn-danger" id="btnImprimir">
                <i class="fal fa-print"></i>   
                Imprimir
            </button>
        </div>        
    </div>
</div>

<br>

<div class="card col-12" id="rptContainer">

    <div class="row" id="rowLogo">
        <div class="col-5">
            <img src="../img/logo.png" width="100" height="50">
        </div>

        <div class="col-6" align="center">
            <label>Orden de Trabajo:</label><label class="text-danger" id="lbNoOrden"><b>00</b></label>
            <br>
            <label>Fecha de toma de muestra :</label><label id="lbFecha"><b>01/01/2000</b></label>
        </div>
    </div>

    <div class="row" id="rowSubtitulo">
        <div class="card bg-gray-900 text-white col-12" align="center">
            <h4>SOLUCIONES TÉCNICAS (SOLTECA S.A.)</h4>
        </div>
    </div>

    <div class="row" id="rowSubtitulo2" align="center">
        <div class="card col-12" align="center">
            <h6><b>Informe de Orden de Trabajo</b></h6>
        </div>
    </div>

    <div class="row" id="rowDatosCliente">
        <div class="col-3">
            <h4 class="">Información del Cliente</h4>            
            <br>
            <label class=""><b>Cliente:</b></label>
            <br>
            <label class=""><b>Proyecto:</b></label>
            <br>
            <label class=""><b>Dirección del Proyecto:</b></label>
            <br>
            <label class=""><b>Atención a:</b></label>
            <br>
            <label class=""><b>Área TAG:</b></label>
            <br>
            <label class=""><b>Manufactura:</b></label>
        </div>
        <div class="col-9">
                <h4 class=""> </h4>            
                <br>
                <label class="" id="lbNomCliente">---</label>
                <br>
                <label class="" id="lbProyecto">---</label>
                <br>
                <label class="" id="lbDirProyecto">---</label>
                <br>
                <label class="" id="lbAtencion">---</label>
                <br>
                <label class="" id="lbTag">---</label>
                <br>
                <label class="" id="lbManufactura">---</label>
        </div>
    </div>

    <div class="row" id="rowElementos">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><b>Identificación</b></td>
                            <td><b>Elemento</b></td>
                            <td><b>Tipo de Concreto</b></td>
                            <td><b>Temperatura Concreto (°C)</b></td>
                            <td><b>Asentamiento (plg)</b></td>
                            <td><b>Edad(días)</b></td>
                            <td><b>#Guía/Camión</b></td>
                        </tr>
                    </thead>
                    <tbody id="tblElementos">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" id="rowGraficas"> 

        <div class="col-7">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Edad (días)</td>
                            <td>Fecha Rotura</td>
                            <td>Resistencia a la Compresión (Mpa)</td>
                            <td>Equivalencia a psi</td>
                            <td>Alcanzado</td>
                        </tr>
                    </thead>
                    <tbody id="tblPromedios">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-5">
            <div class="card">
                <div id="flot-bar" style="width:100%; height:300px;"></div>
            </div>
        </div>

    </div>

    <div class="row" id="rowFirma">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <label>_________________________________________</label>            
                <br>
                <label>Ing. Victor Sánchez</label>
                <br>
                <label><b>Jefe de Sección de Concretos</b></label>
                <br>
                <br>
                <small><b>
                    28 avenida 7-25 zona 4, Mixco, Bosques de San Nicolás
                </b></small>
                <br>
                <small><b>
                    www.soltecasa.com
                </b></small>
                <br>
                <small><b>
                    Teléfono (502)2436-0471 / email: info.soltecasa@gmail.com
                </b></small>
            </div>
        </div>
    </div>


</div>