<div class="oculto-impresion">
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary" id="btnAtras">
                <i class="fal fa-arrow-left"></i>   
                Atrás
            </button>
        </div>
        
        <div class="col-3">
            <button class="btn btn-danger" id="btnImprimir">
                <i class="fal fa-print"></i>   
                Imprimir
            </button>
        </div>        
    </div>
</div>

<br>

<div class="card col-12" id="rptContainer">

    <div class="row" id="rowLogo">
        <div class="col-5">
            <img src="../favicon.png" width="50" height="50">
        </div>

        <div class="col-6" align="center">
            <label>Orden de Trabajo:</label><label class="text-danger"><b>1312</b></label>
            <br>
            <label>Fecha de toma de muestra :</label><label><b>24/06/2019</b></label>
        </div>
    </div>

    <div class="row" id="rowSubtitulo">
        <div class="card bg-gray-900 text-white col-12" align="center">
            <h4>SOLUCIONES TÉCNICAS (SOLTECA S.A.)</h4>
        </div>
    </div>

    <div class="row" id="rowSubtitulo2" align="center">
        <div class="card col-12" align="center">
            <h6><b>Informe de Orden de Trabajo</b></h6>
        </div>
    </div>

    <div class="row" id="rowDatosCliente">
        <div class="col-3">
            <label class="text-bold text-italic">Información del Cliente</label>            
            <br>
            <label class="text-bold">Cliente:</label>
            <br>
            <label class="text-bold">Proyecto:</label>
            <br>
            <label class="text-bold">Dirección del Proyecto:</label>
            <br>
            <label class="text-bold">Atención a:</label>
            <br>
            <label class="text-bold">Área TAG:</label>
            <br>
            <label class="text-bold">Manufactura:</label>
        </div>
        <div class="col-9">
                <label class="text-bold text-italic"> </label>            
                <br>
                <label class="text-bold">Acabados Constructivos S.A.</label>
                <br>
                <label class="text-bold">Museo Miraflores</label>
                <br>
                <label class="text-bold">Ciudad</label>
                <br>
                <label class="text-bold">SN</label>
                <br>
                <label class="text-bold">Área TAG</label>
                <br>
                <label class="text-bold">Manufactura</label>
        </div>
    </div>

    <div class="row" id="rowElementos">
        <div class="table-responsive">
            <table class="table table-border">
                <thead>
                    <b>
                    <tr>
                        <td>Identificación</td>
                        <td>Elemento</td>
                        <td>Tipo de Concreto</td>
                        <td>Temperatura Concreto (°C)</td>
                        <td>Asentamiento (plg)</td>
                        <td>Edad(días)</td>
                        <td>#Guía/Camión</td>
                    </tr>
                    </b>
                </thead>
                <tbody id="tblElementos">

                </tbody>
            </table>
        </div>
    </div>

    <div class="row" id="rowGrafica"> 

    </div>

    <div class="row" id="rowFirma">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <label>_________________________________________</label>            
                <br>
                <label>Ing. Victor Sánchez</label>
                <br>
                <label><b>Jefe de Sección de Concretos</b></label>
                <br>
                <br>
                <small><b>
                    28 avenida 7-25 zona 4, Mixco, Bosques de San Nicolás
                </b></small>
                <br>
                <small><b>
                    www.soltecasa.com
                </b></small>
                <br>
                <small><b>
                    Teléfono (502)2436-0471 / email: info.soltecasa@gmail.com
                </b></small>
            </div>
        </div>
    </div>


</div>