<div class="row">
        <!-- card del tipo Area Chart -->
        <div class="col-xl-12 col-lg-12">
          <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
              <h6 class="m-0 font-weight-bold text-white">Órdenes Pendientes</h6>
            </div>
            
            <!--Tabla de ordenes-->
            <div class="table table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td>No.</td>
                      <td>Placas</td>
                      <td>Marca</td>
                      <td>Color</td>
                      <td>Cliente</td>
                      <td>Importe</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody id="tblOrdenes">
             

                  </tbody>
                </table>
              </div>
            <!-- Card Body -->
            
          </div>
        </div>

      </div>


      <div class="modal fade" id="ModOrdenF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <label class="modal-title text-danger h3" id="txtTituloF">Cobro de la Orden No. </label>
                    </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label>No. Placas : </label>
                            <label class="text-danger" id="txtFPlacas">000</label>
                        </div>
                        <div class="form-group">
                            <label>Cliente : </label>
                            <label id="txtFCliente" class=""> </label>
                        </div>
                        <div class="form-group">
                            <label>Importe : </label>
                            <label id="txtFTotal" class="h5 text-danger">0</label>
                        </div>

                        <hr class="sidebar-divider">
                        
                        <div class="form-group">
                            <label class="text-danger">Detalle de la forma de pago</label>
                        </div>
                        
                        <hr class="sidebar-divider">

                        <div class="card-deck">
                                <div class="form-group col-5">
                                        <label>Efectivo : </label>
                                        <input type="number" class="form-control" id="txtFEfectivo" value=0>
                                    </div>
            
                                    <div class="form-group col-5">
                                        <label>Tarjeta : </label>
                                        <input type="number" class="form-control" id="txtFTarjeta" value = 0>
                                    </div>
                           
                        </div>

                        <hr class="sidebar-divider">

                        <div class="form-group">
                            <label>Total pagado : </label>
                            <label id="txtFSaldo" class="h5 text-danger">0</label>
                        </div>

                        <div class="form-group">
                            <label>Observaciones:</label>
                            <input type="text" class="form-control" id="txtFObs" placeholder="Escriba sus observaciones...">
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-round" id="" data-dismiss="modal">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                        CANCELAR
                    </button>
                    <button type="button" class="btn btn-success btn-round" id="btnFinalizarOrden" data-dismiss="modal">
                        <li class="fas fa-check"></li>
                        COBRAR
                    </button>
                </div>
            </div>
        </div>
      </div>

    <!-- modal con el detalle de la orden -->
    <div class="modal fade" id="ModOrdenDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title" id="txtDataCorrelativo">Detalle de la Orden No. </label>
                </div>
                <div class="modal-body">
                    <div class="col-12">

                        <div class="form-group">
                            <label>No. Placas : </label>
                            <label class="text-danger" id="txtDataPlacas">000</label>
                        </div>
                        <div class="form-group">
                            <label>Cliente : </label>
                            <label id="txtDataCliente" class=""> </label>
                        </div>
                        <div class="form-group">
                            <label>Teléfono : </label>
                            <label id="txtDataTelefono" class=""> </label>
                        </div>

                        <div class="form-group">
                            <label>Importe : </label>
                            <label id="txtDataTotal" class="h5 text-danger">0</label>
                        </div>
   
                        <hr class="sidebar-divider">

                        <div class="form-group">
                            <label>Retoque : </label>
                            <label class="" id="txtDataRetoque">A</label>
                        </div>
                        <div class="form-group">
                            <label>Aroma : </label>
                            <label class="text-primary" id="txtDataAroma">A</label>
                        </div>
                           
                          
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-rounded form-control" data-dismiss="modal">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                            SALIR
                    </button>
                </div>
            </div>
        </div>
    </div>