<div class="card">
    <div class="card-header bg-info">
        <div class="card-group">
            <h5 class="text-white" >Orden No : </h5>
            <b><h5 id="txtCorrelativo" class="text-white"> 5</h5></b>
        </div>
        
    </div>
    
    <div class="card-body">
        <div class="form-group card-group">
            <div class="col-sm-10 col-lg-4">
                <label>No. Placa: </label>
                <input type="text" id="txtPlaca" class="form-control text-danger b" placeholder="ej. 123abc">
            </div>
            <div class="col-sm-10 col-lg-7">
                <label>Cliente: </label>
                <input type="text" id="txtCliente" class="form-control" placeholder="ej. carlos mendez">
            </div>
            <div class="col-sm-10 col-lg-4">
                <label>Teléfono: </label>
                <input type="tel" id="txtTelefono" class="form-control" placeholder="ej. 5555-555">
            </div>
            <div class="col-sm-10 col-lg-4">
                <label>Marca: </label>
                <select class="form-control" id="cmbMarca">
                    <option value="1">TOYOTA</option>
                </select>
            </div>
            <div class="col-sm-10 col-lg-4">
                <label>Color: </label>
                <input type="text" id="txtColor" class="form-control" placeholder="ej. rojo,verde,blanco">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="card-body">
            <div class="form-group card-group">
                <div class="col-sm-10 col-lg-4">
                    <label>Tipo de Servicio: </label>
                    <select class="form-control" id="cmbTipoServicio">
                        <option value="1">CARWASH</option>
                        <option value="2">SERVICIO VIP</option>
                    </select>
                </div>

            </div>
        </div>

</div>