           
          
           <!-- cards con totales -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Ventas Día</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><label id="txtTotalDia">Q0.00</label></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Órdenes Terminadas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><label id="txtTotalOrdenes">0</label></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>

        </div>

 
          </div>

          <!-- Area de la tabla de órdenes-->

          <div class="row">

            <!-- card del tipo Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <h5>Listado de Órdenes de la fecha seleccionada</h5>
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <div class="row">
                    <div class="m-0 font-weight-bold text-primary">
                      <div class="input-group">
                        Fecha <input type="date" id="txtFecha" class="form-control">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="btnCargarFechaInicio">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
       
                <!-- Card Body -->
                <div class="card-body">
                       <!--Tabla de ordenes-->
                  <div class="table table-responsive">
                      <table class="table table-striped table-hovered">
                        <thead>
                          <tr>
                            <td>No.</td>
                            <td>Auto</td>
                            <td>Cliente</td>
                            <td>Tarjeta</td>
                            <td>Efectivo</td>
                            <td>Total</td>
                            <td>Notas</td>
                          </tr>
                        </thead>
                        <tbody id="tblOrdenesInicio">
                  

                        </tbody>
                      </table>
                    </div>
                 
                </div>
              </div>
            </div>

          </div>
